
.navbar{
  font-family: 'Arvo', serif;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #333333;
}
.nav-link-custom-project{
  margin-right: 40px;
}
.navbar-item-custom-signout{
  margin-left: 40px;
}
.logo{
  width: 13em;
  height: 4.5em;
  margin-bottom: 5px;
}
body{
  background: url("https://www.oracle.com/asset/web/i/rh02-panel2.jpg");
  height: 100%;
}

.card{
  margin: 50px auto 30px auto;
  width: 90%;
  box-shadow: 0 12px 20px -10px rgba(114, 92, 82, 0.28), 0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(114, 92, 82, 0.2);
}
.card .card-header{
  border-radius: 5px;
}
.card-header{
  margin: -20px 15px 0;
  padding: 25px;
  background: rgb(170,74,48);
  background: -webkit-linear-gradient(right, rgba(170,74,48,1) 8%, rgba(213,113,73,1) 100%, rgba(232,159,113,1) 100%);
  background: -o-linear-gradient(right, rgba(170,74,48,1) 8%, rgba(213,113,73,1) 100%, rgba(232,159,113,1) 100%);
  background: linear-gradient(to left, rgba(170,74,48,1) 8%, rgba(213,113,73,1) 100%, rgba(232,159,113,1) 100%);
  color: white;
  font-family: 'Dosis', sans-serif;
  font-size: 1.5rem;
}
.nav-link{
  color: #d8d3cd;
}
.nav-link:hover{
  color: white;
}
.card-body{
  background-color: #fafaf6;
  padding-top: 0px;
}

thead{
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.075rem;
  text-decoration: underline;

}

tbody{
    font-family: 'Arvo', serif;
}
.active{
  background-color: #519872!important;
}
.tableFixHead{
  overflow-y: auto; height: 23rem;

}
.tableFixHead thead th {
  position: sticky; top: 0;
}
